/* LandingPage.css */
body
{
  background-color: rgb(255, 155, 32);
}

.landing-page {
  position: relative;
  background-image: url('./src/Images/LandingBG.png');
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.landing-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.277);
  z-index: 1; /* Keep this as 1 */
}

.landing-page h1 {
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  color: white;
  font-weight: 100;
}

.landing-page p {
  font-family: 'Quantico', sans-serif;
  color: #cdefff;
  margin-bottom: 50px;
}

.landing-page .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 20px;
  padding-left: 0px;
  box-sizing: border-box;
  position: relative; 
  z-index: 2; 
}

.landing-page .logo {
  display: flex;
  align-items: center;
}

.landing-page .logo img {
  max-width: 150px;
  margin-top: 5px;
  margin-left: 30px;
}

.landing-page .login-btn,
.landing-page .signup-btn,
.landing-page .register-btn {
  margin-right: 20px;
  padding-left: 50px;
  margin-top: 10px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 20px;
  font-family: 'Offside', sans-serif;
  text-decoration: none; 
}

.landing-page .login-btn {
  background: linear-gradient(to right, #3257C6, #8532C6);
  color: white;
}

.landing-page .signup-btn {
  color: white;
  background-color: #0000001e;
  border: 1px solid #3F5489;
  border-radius: 10px;
}

.landing-page .content {
  margin-top: 25px;
  margin-left: 250px;
  margin-right: 250px;
  z-index: 2;
}

.landing-page .login-btn:hover {
  background: #90e0ffb0;
  color: white;
}

.landing-page .signup-btn:hover {
  background-color: #ffffff6c;
  color: rgb(255, 255, 255);
}

.landing-page .register-btn {
  color: white;
  background-color: #0000001e;
  border: 1px solid #3F5489;
  border-radius: 10px;
}

.landing-page .register-btn:hover {
  background-color: #ffffff6c;
  color: rgb(255, 255, 255);
}
