@keyframes moveRightSignup {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.signup-container {
  display: flex;
  height: 100vh;
}

.signup-container .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./src/Images/SignUpBG.jpeg');
  background-size: cover;
  background-position: center;
}

.signup-container .formContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #bac1c5, #88dbee76);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  animation: moveRightSignup 0.8s ease-out;
}

.signup-container form {
  width: 300px;
}

.signup-container label {
  display: block;
  text-align: left;
  margin-left: 15px;
}

.signup-container input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 50px;
  width: 400px;
}

.signup-container .btn-primary {
  width: 68%;
  padding: 5px; /* Adjust padding as needed */
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: "offside";
  background: linear-gradient(to right, #6a8fff, #9696db); /* Apply a gradient background */
  color: #fff; /* Set text color to white or another suitable color */
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s ease; /* Add transition for a smooth effect */
}
.signup-container .btn-primary:hover {
  background: rgb(184, 189, 252);/* Change gradient on hover */
  box-shadow: 0 0 1px 1px hsl(229, 100%, 61%);
}

.signup-container button {
  width: 60%;
  padding: 1px;
}

.signup-container .errorPopup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(206, 206, 206, 0.9), rgba(255, 255, 255, 0.692));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.signup-container .errorPopup p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.signup-container .errorPopup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.signup-container .errorPopup li {
  color: red;
}

.signup-container .errorPopup button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.signup-container .errorPopup button:hover {
  background: #0056b3;
}

.signup-container .inputContainer label input::placeholder {
  font-family: 'Telex', sans-serif;
  font-size: 15px;
}

.signup-container .h2CustomStyle {
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  margin-top: 15%;
  margin-bottom: 50px;
  color: #333;
}

.signup-container .background img.logo {
  width: 150px;
  height: auto;
  margin-top: 25px;
  margin-left: 30px;
}
