.dashboard-container .dashboard-page {
    width: 94%;
    height: 100%;
    max-width: 94%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: bisque;
    border-radius: 30px 0px 0px 30px;
    z-index: -2;
}

.dashboard-container .left-dash-body
{
    margin-top: 1%;
    margin-left: 2%;
    width: 64%;
    height: 98%;
    margin-right: 1.5%;   
}

.dashboard-container .upper-half
{
    position: relative;
    height: 60%;
}

.dashboard-container .bottom-left-half{

    height: 30%;
    margin-top: 3.7%;
}

.dashboard-container .bottom-right-half{
    height: 30%;
    margin-top: 4.4%;
}
.dashboard-container .greeting-container
{
    height: 25%;
    margin-bottom: 1.5%;
    font-family: 'Montserrat';
}

.dashboard-container .qotd 
{
    height: 75%;
    font-family: 'Montserrat', sans-serif;
}

.dashboard-container .graph{
    height: 100%;
}
.dashboard-container .right-dash-body
{
    margin-top: 2%; 
    margin-right: 2%;
    width: 30%;
    height: 98%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.dashboard-container .flex
{
    display: flex;
}

.dashboard-container .reading-now 
{
    height: 100%;
}

