/* Graph.css */

.graph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100%;
}


.graph-heading {
    margin-bottom: 30px;
}

.required-days {
    font-family: 'Montserrat', cursive;
}

