.reading-container {
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    padding: 5%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100%;
    font-family: "Quicksand", sans-serif;
    display: flex; /* Using flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-direction: column; /* Arrange items vertically */
    text-align: center;
}

.reading-container img {
    max-width: 50%;
    margin-bottom: 5%;
}

.reading-container a {
    background-color: rgb(255, 166, 57);
    color: white;
    padding: 2%;
    border-radius: 15px;
    display: inline-block; /* Ensures inline-block elements are centered */
}

.reading-container h1 {
    margin: 0; 
    text-align: center;
}
