.book-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Add this line to center the book image */
    margin: 10px; /* Add margin around each book card */
    margin-bottom: 15%;
  }
  
  .book-card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 5%;
  }
  
  .book-card .book-details {
    text-align: center; 
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }
  
  .book-card .book-details h3 {
    font-size: 20px; /* Decrease the font size for book names */
    white-space: nowrap; /* Add this line to prevent line breaks */
    overflow: hidden; /* Add this line to hide overflowing text */
    text-overflow: ellipsis; /* Add this line to display "..." for long book names */
    max-width: 200px; /* Set the maximum width for book names */
  }

  .book-card .buton
  {
    width: 200px;
    background-color: rgb(255, 161, 47);
  }