:root {
    --primary-color: bisque;
    --border-radius: 30px;
  }
  
  .library-page-container {
    width: 94%;
    height: 100%;
    max-width: 94%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
    z-index: -2;
  }
  
  .library-page-container__nvbr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    align-items: center;
    margin: 2% 0 5% 0;
  }
  
  .library-page-container__heading {
    grid-column: 1 / 2;
    width: 100%;
  }
  
  .library-page-container__search-bar {
    grid-column: 2 / 3;
    width: 100%;
    height: 40px;
  }
  
  .library-page-container__search-bar input {
    font-size: 1.25rem;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
    padding-left: 20px;
  }
  
  .library-page-container__therapist-page {
    width: 100%;
  }
  
  .google-drive-buttons {
    display: flex;
    flex-direction: column;
  }
  
  .google-drive-buttons > div {
    margin-bottom: 3px; /* Adjust the gap as needed */
  }
  
  .google-drive-buttons button {
    padding: 10px 20px;
    background-color: #007bff; /* blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 3px; /* Add space between buttons */
  }
  
  .google-drive-buttons button:hover {
    background-color: #0056b3; /* darker blue on hover */
  }