.playlist-container .heading {
    margin-bottom: 5%;
}

.playlist-container .subheading {
    margin-bottom: 2%;
}

.playlist-container .playlist-cards {
    display: flex;
    justify-content: space-between; /* To evenly space the cards */
} 

 .playlist-container .playlist-card {
    cursor: pointer;
    width: 15%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
} 

.playlist-container .playlist-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.playlist-container .playlist-card img {
    width: 100%;
    border-radius: 5px;
}

.playlist-container .playlist-card h3 {
    margin-top: 10px;
    text-align: center;
}
